/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* navber design starts here */
[class*="col-"]{
    float: left;
}
.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

/* navber design ends here */

/* profile design starts here */
.profile .top-weather-icon{
    position: absolute;
    right: 100px;
    top: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .top-weather-icon:hover{
    transform: rotate(360deg);
    width: 140px;
}
.profile .bottom-weather-icon{
    position: absolute;
    left: 140px;
    bottom: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
    width: 140px;
}
.profile-desc p{
    color: gray;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
}

/* profile design ends here */
/* about me desgin starts from here */
.about-me-img{
    margin-top: 100px;
    height: 270px;
    width: 250px;
}
.aboutme-desc p{
    text-align: left;
 
}

/* aboutme design ends here */
/* achivement-contact design starts from here */
.achivement-contact{
    padding-right: 50px;
}
.contact button{
    width: 120px;
}
.contact-links{
    position: relative;
}
.media-buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}
/* achivement-contact design ends here */

/* footer design starts from here */
footer{
   
}
.footer-menu{
    margin-top: 12px;
    padding: 50px;
}
.footer-menu a{
    display: inline;
    margin-right: 20px;
}
.footer-desc{
    padding-top: 50px;
}
/* footer design ends here */